:root {
  --primaryColor: #1d0fff;
  --secondaryColor: #fff;
  --mainText: #222;
  --secondaryText: #2b06fc;
  --bgPrimary: #fff;
  --bgSecondary: #d4edf7;
  --hoverColor: #edf7fa;
  --borderColor: #1d0fff;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

ul {
  list-style: none;
}

hr {
  border: 1px solid var(--primaryColor);
}

body {
  background: var(--bgPrimary);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1rem;
  -webkit-filter: drop-shadow(0px 1px 3px rgba(36, 32, 33, 0.28));
          filter: drop-shadow(0px 1px 3px rgba(36, 32, 33, 0.28));
}

header .logo-wrapper {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-wrapper .logo {
  color: var(--primaryColor);
  font-family: "Great Vibes", "Times New Roman", Georgia;
  font-size: 1.6rem;
}

header .logo-wrapper .humburger-icon {
  width: 2rem;
  display: none;
}

header .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .nav-wrapper .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondaryColor);
  min-width: 6rem;
  height: 3.5rem;
}

header .nav-wrapper .nav-item a {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--mainText);
}

header .nav-wrapper .nav-item.active {
  background-color: var(--primaryColor);
  pointer-events: none;
}

header .nav-wrapper .nav-item.active a {
  color: var(--secondaryColor);
}

header .nav-wrapper .nav-item:hover {
  background-color: var(--hoverColor);
}

header .nav-wrapper .nav-item:hover a {
  color: var(--primaryColor);
}

main {
  background: var(--bgPrimary);
}

.s1 {
  background-color: var(--bgPrimary);
  overflow: auto;
  padding: 0rem 1rem;
}

.s2 {
  background-color: var(--bgSecondary);
  overflow: auto;
  padding: 0rem 1rem;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(375px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-wrapper {
  height: 400px;
}

.intro-wrapper .proverb {
  font-family: "EB Garamond", "Roboto", sans-serif;
  font-size: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.intro-wrapper .proverb .quotes {
  color: var(--primaryColor);
  text-align: center;
  font-size: 1em;
}

.intro-wrapper .proverb .quotes::before, .intro-wrapper .proverb .quotes::after {
  content: '"';
  font-size: 1.4em;
}

.intro-wrapper .proverb .author {
  color: var(--primaryColor);
  font-size: 0.66em;
  margin-left: 50%;
}

.intro-wrapper .proverb .author::before {
  content: "-";
  font-size: 1.4em;
}

.intro-wrapper .devices {
  justify-self: flex-start;
}

.intro-wrapper .devices img {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.about-wrapper {
  padding: 3rem 0rem;
}

.about-wrapper .profile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-wrapper .profile .profile-pic {
  width: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--borderColor);
}

.about-wrapper .profile .profile-name {
  padding: 1rem 0rem;
  color: var(--primaryColor);
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}

.about-wrapper .intro-text {
  justify-self: flex-start;
  text-align: center;
  color: var(--secondaryText);
  font-size: 1.4rem;
  padding: 2rem 0rem;
}

.skills-wrapper h2 {
  text-align: center;
  color: var(--primaryColor);
  font-family: "Times New Roman", Times, serif;
  padding-top: 4rem;
}

.skills-wrapper .skills-list {
  padding: 5rem;
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-wrapper .skills-list .skill img {
  height: 100px;
  width: 100%;
}

.projects {
  height: 100vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--bgSecondary);
  color: var(--primaryColor);
  height: 3.5rem;
  width: 100%;
}

footer div {
  font-family: emoji;
}

@media (max-width: 800px) {
  /* For mobile: */
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  header .logo-wrapper {
    width: 100%;
  }
  header .logo-wrapper .humburger-icon {
    display: inline-block;
  }
  header .nav-wrapper {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
  }
  header .nav-wrapper .nav-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1rem;
  }
  header .nav-wrapper.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .intro-wrapper .proverb {
    font-size: 1.5rem;
  }
  .intro-wrapper .devices {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .intro-wrapper .devices img {
    width: 80%;
  }
  .about-wrapper .intro-text {
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 1.25rem;
  }
}

@media (max-width: 650px) {
  .skills-wrapper .skills-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5rem 2rem;
    padding-top: 4rem;
    -ms-grid-columns: (75px)[3];
        grid-template-columns: repeat(3, 75px);
  }
  .skills-wrapper .skills-list .skill img {
    height: 75px;
  }
}
/*# sourceMappingURL=index.css.map */