:root {
    --primaryColor: #1d0fff;
    --secondaryColor: #fff;

    --mainText: #222;
    --secondaryText: #2b06fc;

    --bgPrimary: #fff;
    // --bgSecondary: #edf7fa;
    --bgSecondary: #d4edf7;

    --hoverColor: #edf7fa;

    --borderColor: #1d0fff;
}
