:root {
  --primaryColor: #1d0fff;
  --secondaryColor: #fff;

  --mainText: #222;
  --secondaryText: #1d0fff;

  --bgPrimary: #fff;
  --bgSecondary: #edf7fa;

  --hoverColor: #edf7fa;

  --borderColor: #1d0fff;
}
