:root {
    --primaryColor: #1100ff;
    --secondaryColor: #fff;

    --primaryText: #2b06fc;

    --bgPrimary: #fff;
    // --bgSecondary: #edf7fa;
    --bgSecondary: #d4edf7;

    --hoverColor: #edf7fa;

    --borderColor: #1d0fff;
}

$card-background-color: #d4edf7;
// $card-background-color: #17141d;

$card-text: var(--primaryText);
$card-date-text: #584dff;

$card-shadow: -5px 0px 30px -5px #006eff47;
$card-tags-border: 3px solid #584dff;
