@import "./colors";
@import "./defaults";

$navbar-height: 3.5rem;
$padding-lr: 1rem;

body {
    background: var(--bgPrimary);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

header {
    display: flex;
    background-color: var(--bgPrimary);
    align-items: center;
    justify-content: space-between;
    padding: 0rem $padding-lr;
    filter: drop-shadow(0px 1px 3px rgba(36, 32, 33, 0.28));
    .logo-wrapper {
        height: $navbar-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            color: var(--primaryColor);
            font-family: "Great Vibes", "Times New Roman", Georgia;
            font-size: 1.6rem;
        }

        .humburger-icon {
            width: 2rem;
            display: none;
        }
    }
    .nav-wrapper {
        display: flex;
        list-style: none;

        .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--bgPrimary);
            min-width: 6rem;
            height: $navbar-height;
            a {
                font-size: 0.8rem;
                font-weight: 500;
                color: var(--primaryColor);
            }

            &.active {
                background-color: var(--primaryColor);
                pointer-events: none;
                a {
                    color: var(--secondaryColor);
                }
            }
            &:hover {
                background-color: var(--hoverColor);
            }
        }
    }
}

main {
    background: var(--bgPrimary);
}
.s1 {
    background-color: var(--bgPrimary);
    overflow: auto;
    padding: 0rem $padding-lr;
}

.s2 {
    background-color: var(--bgSecondary);
    overflow: auto;
    padding: 0rem $padding-lr;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    justify-content: space-evenly;
    align-items: center;
}

.grid-column {
    display: flex;
    justify-self: center;
    justify-content: center;
}

.intro-wrapper {
    height: 400px;
    .proverb {
        font-family: "EB Garamond", "Roboto", sans-serif;
        font-size: 2rem;
        flex-flow: column;
        .quotes {
            color: var(--primaryText);
            text-align: center;
            font-size: 1em;
            &::before,
            &::after {
                content: '"';
                font-size: 1.4em;
            }
        }
        .author {
            color: var(--primaryText);
            font-size: 0.66em;
            margin-left: 50%;
            &::before {
                content: "-";
                font-size: 1.4em;
            }
        }
    }

    .devices {
        justify-self: flex-start;
        img {
            width: 100%;
            max-width: max-content;
        }
    }
}

.about-wrapper {
    grid-template-rows: 400px;
    .profile {
        flex-flow: column;
        align-items: center;
        .profile-pic {
            width: 10rem;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid var(--borderColor);
        }
        .profile-name {
            padding-top: 1rem;
            color: var(--borderColor);
            font-size: 2rem;
            font-family: "EB Garamond", serif;
        }
    }
    .intro-text {
        font-family: cursive, serif;
        justify-self: flex-start;
        text-align: center;
        color: var(--primaryText);
        font-size: 1.3rem;
    }
}

.skills-wrapper {
    h2 {
        text-align: center;
        color: var(--primaryText);
        font-family: "Times New Roman", Times, serif;
        padding-top: 4rem;
    }
    .skills-list {
        padding: 5rem;
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        .skill img {
            height: 100px;
            width: 100%;
        }
    }
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    padding: 4rem;
    .swiper-slide {
        opacity: 0;
        &-next,
        &-prev {
            opacity: 0.3;
        }
        &-active {
            opacity: 1;
        }
    }

    .card {
        width: 320px;
        height: 370px;
        border-radius: 16px;

        color: $card-text;
        background-color: $card-background-color;
        box-shadow: $card-shadow;
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
        user-select: none; // Disable Text Selection
        .project-header {
            margin-bottom: 1rem;
            .date {
                font-size: 0.875rem;
                margin-bottom: 0.7rem;
                color: $card-date-text;
            }
            .project-title {
                font-size: 1.25rem;
                font-weight: 700;
            }
        }

        .project-details {
            margin-bottom: auto;
            .project-text {
                word-wrap: break-word;
            }
            .more {
                font-size: 0.9rem;
                font-weight: bold;
                vertical-align: bottom;
                color: var(--primaryColor);
            }
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            margin: 1rem 0 1rem;
            div {
                font-size: 0.56rem;
                font-weight: 700;
                padding: 4px 10px;
                border: $card-tags-border;
                border-radius: 2rem;
                margin: 0.06rem;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgPrimary);
    color: var(--primaryColor);
    height: $navbar-height;
    width: 100%;
    div {
        font-family: emoji;
    }
}

@media (max-width: 800px) {
    /* For mobile: */
    header {
        flex-flow: column;
        .logo-wrapper {
            width: 100%;
            .humburger-icon {
                display: inline-block;
            }
        }
        .nav-wrapper {
            display: none;
            flex-flow: column;
            width: 100%;
            .nav-item {
                justify-content: flex-start;
                padding-left: 1rem;
            }
            &.show {
                display: flex;
            }
        }
    }

    .intro-wrapper {
        .proverb {
            font-size: 1.5rem;
        }
        .devices {
            justify-self: center;
            img {
                width: 80%;
            }
        }
    }
    .about-wrapper {
        grid-template-rows: 300px 150px;
        .profile .profile-name {
            font-size: 1.8rem;
        }
        .intro-text {
            justify-self: center;
            align-self: flex-start;
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 650px) {
    .skills-wrapper .skills-list {
        justify-content: space-evenly;
        padding: 4rem 2rem 5rem 2rem;
        grid-template-columns: repeat(3, 75px);
        grid-gap: 1rem;
        .skill img {
            height: 75px;
        }
    }
}

@media (max-width: 400px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        .devices {
            width: 80vw;
            img {
                width: 90%;
            }
        }
    }
    .about-wrapper {
        grid-template-columns: 1fr;
        .intro-text {
            font-size: 1rem;
        }
    }
    .skills-wrapper .skills-list {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    }
    .swiper-container .card {
        width: 290px;
    }
}
