@import "./colors";
@import "./defaults";

$navbar-height: 3.5rem;
$padding-lr: 1rem;

body {
    background: var(--bgPrimary);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

header {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0rem $padding-lr;
    filter: drop-shadow(0px 1px 3px rgba(36, 32, 33, 0.28));
    .logo-wrapper {
        height: $navbar-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            color: var(--primaryColor);
            font-family: "Great Vibes", "Times New Roman", Georgia;
            font-size: 1.6rem;
        }

        .humburger-icon {
            width: 2rem;
            display: none;
        }
    }
    .nav-wrapper {
        display: flex;
        list-style: none;

        .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--secondaryColor);
            min-width: 6rem;
            height: $navbar-height;
            a {
                font-size: 0.8rem;
                font-weight: 500;
                color: var(--mainText);
            }

            &.active {
                background-color: var(--primaryColor);
                pointer-events: none;
                a {
                    color: var(--secondaryColor);
                }
            }
            &:hover {
                background-color: var(--hoverColor);
                a {
                    color: var(--primaryColor);
                }
            }
        }
    }
}
main {
    background: var(--bgPrimary);
}
.s1 {
    background-color: var(--bgPrimary);
    overflow: auto;
    padding: 0rem $padding-lr;
}

.s2 {
    background-color: var(--bgSecondary);
    overflow: auto;
    padding: 0rem $padding-lr;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    justify-content: space-evenly;
    align-items: center;
}

.grid-column {
    display: flex;
    justify-self: center;
    justify-content: center;
}

.intro-wrapper {
    height: 400px;
    .proverb {
        font-family: "EB Garamond", "Roboto", sans-serif;
        font-size: 2rem;
        flex-flow: column;
        .quotes {
            color: var(--primaryColor);
            text-align: center;
            font-size: 1em;
            &::before,
            &::after {
                content: '"';
                font-size: 1.4em;
            }
        }
        .author {
            color: var(--primaryColor);
            font-size: 0.66em;
            margin-left: 50%;
            &::before {
                content: "-";
                font-size: 1.4em;
            }
        }
    }

    .devices {
        justify-self: flex-start;
        img {
            width: 100%;
            max-width: max-content;
        }
    }
}

.about-wrapper {
    padding: 3rem 0rem;
    .profile {
        flex-flow: column;
        align-items: center;
        align-self: flex-start;
        .profile-pic {
            width: 10rem;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid var(--borderColor);
        }
        .profile-name {
            padding: 1rem 0rem;
            color: var(--primaryColor);
            font-size: 2rem;
            font-family: "EB Garamond", serif;
        }
    }
    .intro-text {
        justify-self: flex-start;
        text-align: center;
        color: var(--secondaryText);
        font-size: 1.4rem;
        padding: 2rem 0rem;
    }
}

.skills-wrapper {
    h2 {
        text-align: center;
        color: var(--primaryColor);
        font-family: "Times New Roman", Times, serif;
        padding-top: 4rem;
    }
    .skills-list {
        padding: 5rem;
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        .skill img {
            height: 100px;
            width: 100%;
        }
    }
}

.projects {
    // Reference: https://codepen.io/carbonrider/pen/zYGNqZE
    background-color: #100e17;
    color: #fff;
    .card-container {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        padding: 3rem;
    }

    .card {
        min-width: 300px;
        max-width: 350px;
        height: 350px;
        border-radius: 16px;
        background-color: #17141d;
        box-shadow: -1rem 0 3rem #000;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        transition: 0.2s;
    }

    .card:hover {
        transform: translateY(-1rem);
    }

    .card:hover ~ .card {
        transform: translateX(130px);
    }

    .card:not(:first-child) {
        margin-left: -130px;
    }

    .card .project-header {
        margin-bottom: auto;
    }

    .card .date {
        font-size: 14px;
        margin-bottom: 1rem;
        color: #8a8a8a;
    }

    .card .project-title {
        font-size: 20px;
        font-weight: 700;
    }

    .card .project-details {
        margin: 1rem 0rem;
        margin-bottom: auto;
        .project-text {
            text-indent: 1rem;
            font-size: 0.9rem;
            word-wrap: break-word;
            padding: 0rem 1rem;
        }
        .more {
            font-size: 0.8rem;
            color: var(--primaryColor);
            display: inline;
            padding-left: 0.7rem;
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0 1rem;
    }

    .tags div {
        font-size: 9px;
        font-weight: 700;
        padding: 4px 10px;
        border: 3px solid #28242f;
        border-radius: 2rem;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgPrimary);
    color: var(--primaryColor);
    height: $navbar-height;
    width: 100%;
    div {
        font-family: emoji;
    }
}

@media (max-width: 800px) {
    /* For mobile: */
    header {
        flex-flow: column;
        .logo-wrapper {
            width: 100%;
            .humburger-icon {
                display: inline-block;
            }
        }
        .nav-wrapper {
            display: none;
            flex-flow: column;
            width: 100%;
            .nav-item {
                justify-content: flex-start;
                padding-left: 1rem;
            }
            &.show {
                display: flex;
            }
        }
    }

    .intro-wrapper {
        .proverb {
            font-size: 1.5rem;
        }
        .devices {
            justify-self: center;
            img {
                width: 80%;
            }
        }
    }
    .about-wrapper {
        .intro-text {
            justify-self: center;
            font-size: 1.25rem;
        }
    }
}

@media (max-width: 650px) {
    .skills-wrapper .skills-list {
        justify-content: space-evenly;
        padding: 5rem 2rem;
        padding-top: 4rem;
        grid-template-columns: repeat(3, 75px);
        grid-gap: 1rem;
        .skill img {
            height: 75px;
        }
    }
}

@media (max-width: 400px) {
    .intro-wrapper {
        .devices {
            width: 80vw;
            img {
                width: 90%;
            }
        }
    }
}
